/*2026/8/7, 2026/8/8
(이 파일 만든 시각: 2026/8/7 16:43:29)*/

/*GitHub ModularDiscriminant 계정 test1 리포지토리의 'style_Untitled9_table.css' 파일을 참고해서 만듦 (2026/8/7 16:58:38)*/



table
{
    border-collapse: collapse;
    border: solid 2px black;
}

td, th
{
    border: solid 1px black;
    padding: 10px 20px;
}

/*
tr
{
    border: solid 1px black;
}
*/

td
{
    text-align: center;
}

.annotation
{
    color: lightgray;
}
/*
(만든 시각: 2026/8/8 7:13:37)
annotation 클래스는 딱히 중요하지 않은 내용이지만 부연 설명을 위해 기록할 때, 주석 / 부연 설명이라는 것을 표시하기 위해 밝은 회색으로 적어서 흐리게 (잘 안 보이게, 즉 메인 텍스트에 집중되어야 할 시선을 분산시키지 않도록) 표시할 내용들을 의미함... . ㅎㅎ
(2026/8/8 7:15:50) 오오..! ㅎㅎ 흠 ㅎㅎ
(... 만약 'lightgray' 색 ((R, G, B) = (211, 211, 211)) 이 너무 흐리면, 좀 더 잘 보이는 색으로 바꾸고, ... 하는 것도 고려해 봐야 할 듯..? ㅋㅋㅋㅋ (2026/8/8 7:19:10) 흠... ㅎㅎ)
*/